/*
Theme Name: 	Ruth Tenzer Feldman
Theme URI: 		http://www.ruthtenzerfeldman.com/
Version: 		1.0
Author: 		Kate Burkett
Author URI: 	http://www.kateburkett.com
*/


/* FONTS */


/*CONTENT*/

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size:160%;
	line-height:1.35;
	font-family: 'PT Sans', Helvetica, sans-serif;
	color: #554236;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	position: relative;
	min-height: 100%;
	background: url('img/3rtuzpe.png') palegoldenrod;
}

.main-content {
	padding-bottom: 70px;
}

footer#colophon {
	background: url('img/o3qmhnm.png') #554236;
	color: #EEECA2;
	text-align: center;
	padding: 20px 0 10px;
	font-weight: 400;
	font-family: "Alegreya", Georgia, serif;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
}

#masthead {
	background: url('img/o3qmhnm.png') brown;
}

.entry-content p {
	font-size: 1.125em;
	line-height: 1.5;
}

.main-info {
	padding: .5em 1.5em 2em;
}

.main-info p {
	font-size: 1em;
	line-height: 1.5;
}

.page-title a {
	color: #554236;
}

body.single footer.entry-meta {
	margin-top: 2em;
}

span.cat-links, span.tag-links {
	font-weight: 700;
}

.holder {
   overflow: hidden;
   clear:    both;
}

.holder .even-height {
   float: left;
   padding-bottom: 100000px;
   margin-bottom:  -100000px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Alegreya", Georgia, serif;
	font-weight: 700;
}

h4, h5, h6 {
	margin-top: 2em;
	margin-bottom: 10px;
}

a {
	color: #60B697;
}

a:hover, a:focus {
	text-decoration: none;
	color: #46836D;
}

h1.site-title {
	font-size: 3.5em;
	text-transform: uppercase;
	color: #60B697;
	position: relative;
	z-index: 5;
}

h4.site-description {
	color: #EEECA2;
	font-size: 2em;
	font-family: 'PT Sans', Helvetica, sans-serif;
	font-weight: 700;
	margin-top: 10px;
}

h1.site-title a:hover {
	color: #60B697;
}

.site-branding img {
	float: left;
	max-width: 100px;
	margin-right: 20px;
	border: 4px solid #FFFFF2;
}

.site-image {
	background: url('img/dragonfly-header.png') right;
	height: 89px;
	width: 448px;
	position: absolute;
	float: right;
	top: 26%;
	right: 18%;
}

.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
	background-color: #FFFFF5;
	border-radius: 4px;
	}

.navbar {
	background-color: #F48A68;
	font-family: "Alegreya", Georgia, serif;
	border-radius: 0;
}

.navbar-nav>li {
	font-size: 1.15em;
	text-transform: uppercase;
}

.navbar-nav>li>a {
	padding: 15px 1.1em;
	line-height: 20px;
	color: #554236;
	border-radius: none;
}

header#masthead div.navbar {
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;
}

.nav-ribbon {
	background-color: #F48A68;
	position: relative;
	border: 1px solid #D17E56;
}

.nav-ribbon:before, .nav-ribbon:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -1em;
	border: 1.5em solid #F47E56;
	z-index: -1;
}

.nav-ribbon:before {
	left: -4em;
	border-right-width: 3.5em;
	border-left-color: transparent;
}

.nav-ribbon:after {
	right: -4em;
	border-left-width: 3.5em;
	border-right-color: transparent;
}

ul#main-menu {
	float: none;
	text-align: center;
}

ul#main-menu:before, ul#main-menu:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #D17E56 transparent transparent transparent;
	bottom: -1em;
}

ul#main-menu:before {
	left: 0;
	border-width: 1em 0 0 1em;
}

ul#main-menu:after {
	right: 0;
	border-width: 1em 1em 0 0;
}

ul#main-menu>li {
	display: inline-block;
	float: none;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
	color: #554236;
	background-color: #D17E56;
}

.navbar-nav>li>a:hover {
	padding: 15px 1.1em;
	line-height: 20px;
	color: #554236;
	background-color: #D17E56;
	border-radius: none;
}

.glyphicon.glyphicon-chevron-right {
	font-size: .6em;
}
.non-semantic-protector {
	position: relative;
	z-index: 1;
}

.subpage-nav ul{
	list-style: none;
	padding-left: 0;

}

.subpage-nav ul li {
	margin: .5em .5em .5em 0;
	padding: 0;
	position: relative;
}

.subpage-nav ul li a {
	color: #554236;
	padding: 0.5em 1.5em;
	display: block;

}

.subpage-nav ul li.active {
	color: #554236;
	background-color: #F48A68;
	left: -1.1em;
	padding-left: 1em;
}

.subpage-nav ul li.active a:before{
	position: absolute;
	display: block;
	content: "";
	border-style: solid;
	border-width: 1em 0 0 1em;
	border-color: #D17E56 transparent transparent transparent;
	bottom: -1em;
	left: 0;
}


.subpage-nav {
	background-color: #F1EFA5;
	border-radius: 25px;
	padding: 1.5em 0;
	border: 1px solid #FFFFD7;
	font-family: "Alegreya", Georgia, serif;
	margin-bottom: 2em;
}

div.main-content > h1.page-title {
	margin: 0 0 1em;
	padding: .23em 0;
	background: url('img/jhx4zij.png') orange;
	background-position: top;
	text-align: center;
	color: #FFFFF5;
	font-weight: 700;
}

span.comments-link {
	float: right;
}

.resource-data {
	background-color: #60B697;
	color: #FFFFF5;
	width: 178px;
	padding: 1.3em 1em 1em;
}

.resource-data h4 {
	margin-top: 0;
}

.resource-img {
	width: 178px;
}

.resource {
	list-style: none;
	padding-left: 0;
}

.resource li {
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 1em;
}

.resource .resource-img-wrapper {
	background-color: black;
	position: relative;
	height: 170px;
	overflow: hidden;
}

article.type-post {
	outline: 0;
}

ul#biome-toc {
	text-align: center;
	margin: 2em auto 0;
	max-width: 500px;
	padding-left: 0;

	}

ul#biome-toc li {
display: inline-block;
}

ul#biome-toc li + li:before {
content: ' • ';
}

.resource .resource-img-wrapper img.resource-img {
	top: 0;
	position: absolute;
}

.sidebar h3 {
	text-align: center;
}

.sidebar {
	margin-top: 2.5em;
}

#inspiration .widget,
#mailing-list-signup .widget {
	margin-bottom: 0;
}

#inspiration p {
	text-align: center;
	font-family: "Alegreya", Georgia, serif;
	font-size: 1.1em;
	border-left: none;
	padding: 0;
	margin-bottom: 1.1em;
	text-align: center;
}

body.page-template-default #mailing-list-signup .widget {
	margin-bottom: 2em;
}

#blog-sidebar {
	background-color: #FFFFF5;
	border: 1px solid #FFFFD7;
	border-radius: 25px;
	padding: 0 1.5em;
}

#blog-sidebar .widget_search {
	margin-top: 20px;
}

#blog-sidebar .widget_categories a {
	display: inline;
	padding: 0;
}

#blog-sidebar .widget_categories a:hover {
	background-color: transparent;
}

#blog-sidebar .widget_archive select {
	width: 100%;
}

.testimonials blockquote {
	font-family: "Alegreya", Georgia, serif;
	margin-top: 20px;
	font-size: 1.1em;
	text-align: center;
	border-left: none;
}

.testimonials blockquote footer p{
	font-family: "Alegreya", Georgia, serif;
	margin-top: 20px;
	font-size: 1.05em;
	text-align: center;
	border-left: none;
}

.testimonials blockquote p {
	font-size: 1.2em;
}

.homepage-featured-content-background {
	background-color: #FFFFF5;
	border-radius: 25px;
	padding: .5em 3em;
	border: 1px solid #FFFFD7;
	margin-top: 10px;
}

.content-background {
	background-color: #FFFFF5;
	border-radius: 25px;
	padding: .5em 3em;
	border: 1px solid #FFFFD7;
	margin-top: 2.5em;
}

.content-background-no-pad {
	background-color: #FFFFF5;
	border-radius: 25px;
	border: 1px solid #FFFFD7;
}

.content-background-half-pad {
	background-color: #FFFFF5;
	border-radius: 25px;
	padding: .5em 1.5em;
	border: 1px solid #FFFFD7;
}

header.blog-title h3 {
	text-align: center;
}

header.blog-title {
	padding: 1em 0 0em;
}

.action-sidebar {
	background-color: #EEECA2;
	padding: .5em 2em 2em;
	-webkit-border-top-left-radius: 25px;
	-webkit-border-bottom-left-radius: 25px;
	-moz-border-radius-topleft: 25px;
	-moz-border-radius-bottomleft: 25px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.no-title {
	margin-top: 20px;
}

.column-fix {
	display: block;
	height: 3em;
	width: auto;
}

.read-more {
	float: right;
	font-weight: 700;
}

.blog-featured-img {
	float: right;
	margin: 0 0 1em 1em;
}

.pager li>a, .pager li>span {
	display: inline-block;
	padding: 5px 14px;
	background-color: transparent;
	border: 0 none transparent;
	border-radius: 15px;
}

.action-image {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 20px auto 0;
}

.action-sidebar #mailing-list-signup {
	margin-top: 1.5em;
}

.action-sidebar #mc_embed_signup {
	border: 1px solid #D17E56;
}

h4.book-subtitle {
	margin-top: 0;
	margin-bottom: 0;
}

h5.book-series-title {
	margin-top: 0;
	margin-bottom: 2em;
}

.related-info h3 {
	text-align: center;
}

.related-info h4 {
	text-align: center;
}

.related-info ul {
	list-style: none;
	margin: 0 0 3em;
	padding: 0;
	text-align: center;
}

.related-info li {
	font-size: 1.1em;
}

.biome-img-left, .biome-img-right {
	max-width: 100%;
	height: auto;
}

.biome-img-left {
	float: left;
	margin: 0 1em 1em 0;
}

.biome-img-right {
	float: right;
	margin: 0 0 1em 1em;
}

.page-header {
	border-bottom: 0 none transparent;
}

#inspiration {
	background-color: #FFFFF5;
	border-radius: 25px;
	padding: .5em 1.5em;
	border: 1px solid #FFFFD7;
	margin-bottom: 10px;
}

#main-sidebar {
	background-color: #F1EFA5;
	border-radius: 25px;
	margin-bottom: 10px;
	padding: .5em 1.5em 1em;
	border: 1px solid #FFFFD7;
}

#main-sidebar img {
	float: left;
	max-width: 100px;
	padding: 0 10px 5px 0;
}

#social-media-icons {
	list-style: none;
	text-align: center;
	padding-left: 0;
}

#social-media-icons a {
	display: block;
	width: 50px;
	height: 50px;

}

.book-widget h3{
	text-align: center;
	margin-bottom: .8em;
}

.book-widget img{
	width: 40%;
	max-width: 100%;
	float: left;
	padding-right: 10px;
	margin-bottom: 1.5em;
}

.book-widget h4 {
	margin-top: 0;
}

.book-widget p {
	font-size: .9em;
}

.book-widget a {
	font-size: .9em;
	margin-right: 1em;
}

.book-widget button {
	margin-top: .8em;
}

li.facebook {
	display: inline-block;
	background: url('img/facebook-icon.png') no-repeat;
	padding: 0 3px;
}

li.twitter {
	display: inline-block;
	background: url('img/twitter-icon.png') no-repeat;
	padding: 0 3px;
}

li.goodreads {
	display: inline-block;
	background: url('img/goodreads-icon.png') no-repeat;
	padding: 0 3px;
}

li.rss {
	display: inline-block;
	background: url('img/rss-icon.png') no-repeat;
	padding: 0 3px;
}

ul.category-buttons {
	list-style: none;
	text-align: center;
	padding-left: 0;
	margin: 2em 0;
	font-size: .8em;
}

ul.category-buttons a {
	display: block;
	background-color: #FFFFD7;
	color: #554236;
	border: 1px solid #F1EFA5;
}

ul.category-buttons a:hover {
	display: block;
	background-color: #F1EFA5;
	color: #554236;
	border: 1px solid #F1EFA5;
}

ul.category-buttons li{
	display: inline-block;
	padding: 0 10px;
}

.search-form {
	text-align: center;
}

#search {
	margin: 1em auto;
}

.widget_search label {
	width: 100%;
}

.widget_categories .children.nav {
	margin-left: 1em;
}

.btn-default {
	color: #554236;
	background-color: #F48A68;
	border-color: #D17E56;
	font-weight: 400;
	font-size: 1em;
}

.buy-button {
	margin-bottom: 1em;
}

.book-buy-btns {
	margin: 1em auto 0;
	width: 200px;
	display: block;
}

.book-buy-btns:last-child {
	margin-bottom: 2em;
}

.book-content-btn {
	width: 200px;
	margin: 1em 1em 2em 0;
}

/* TIME TRAVEL SHAWL */

div.shawl-wrapper {
	right: 0;
	position: fixed;
	top: 300px;
	z-index: 20;
	  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

div.shawl {
	/*width: 289px;
	height: 194px;*/
	position: fixed;
	right: -240px;
	top: 300px;
	/*margin-top: 50px;*/
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

div.shawl-wrapper:hover, div.shawl-wrapper:focus {
  right: 240px;
}

div.shawl-wrapper:hover .shawl, div.shawl-wrapper:focus .shawl {
  right: 0px;
}

div.shawl img {
	float: left;
}

div.shawl a:hover {
	color: #60B697;
}

div.first-brown {
	width: 45px;
	height: 194px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background: url('img/o3qmhnm.png') brown;
	float: left;
}

div.first-green {
	background: url('img/fiusbjk.png') seagreen;
	width: 13px;
	height: 194px;
	float: left;
}

div.salmon {
	background: url('img/jhx4zij.png') salmon;
	width: 26px;
	height: 194px;
	border-left: 2px solid rgb(85,66,54);
	border-right: 2px solid rgb(85,66,54);
	float: left;
}

div.second-green {
	background: url('img/fiusbjk.png') seagreen;
	width: 13px;
	height: 194px;
	float: left;
}

div.second-brown {
	width: 153px;
	height: 194px;
	background: url('img/o3qmhnm.png') brown;
	float: left;
}

div.second-brown p{
	font-size: 1.55em;
	text-transform: uppercase;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 95% 80%;
  -moz-transform-origin: 95% 80%;
  -ms-transform-origin: 95% 80%;
  -o-transform-origin: 95% 80%;
  transform-origin: 95% 80%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* TIME TRAVEL PAGE */

.time-travel-opening {
	font-size: 2.5em;
	text-align: center;
	font-weight: 700;
	font-family: "Alegreya", Georgia, serif;
}

body.page-template-time-travel-php #mc_embed_signup {
	width: 48%;
	margin: 1.5em auto;
}

h1.time-travel-year {
	text-align: center;
	font-size: 3.5em;
}

.time-travel {
	font-size: 1.125em;
	line-height: 1.5;
}

.time-travel h2 {
	margin-top: 1em;
}

img.dragonfly-time-travel-first {
	margin: 2em 0;
}

img.dragonfly-time-travel {
	margin-bottom: 2em;
}


.btn-primary {
	color: #554236;
	background-color: #FFFFF5;
	border-color: #554236;
	font-weight: 400;
	font-size: 1em;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus  {
	color: #FFFFF5;
	background-color: #554236;
	border-color: #554236;
	font-weight: 400;
	font-size: 1em;
}

.book-awards {
	margin-top: 2em;
	margin-bottom: 2em;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #F48A68;
	border: 1px solid #ccc;
	border: #D17E56;
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #D17E56;
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#D17E56),to(#D17E56));
	background-image: -webkit-linear-gradient(top,#428bca,0%,#357ebd,100%);
	background-image: -moz-linear-gradient(top,#428bca 0,#357ebd 100%);
	background-image: #60B697;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff357ebd',GradientType=0);
}

.dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #D17E56;
}

.dropdown-menu {
	margin: 0;
}

.btn-default:hover, .btn-default:active, .btn-default:focus  {
	color: #554236;
	background-color: #D17E56;
	border-color: #D17E56;
	font-weight: 400;
	font-size: 1em;
}



/* BOOK CATALOG PAGE */

#book-list {
	list-style: none;
	padding-left: 0;
}

.catalog-image {
	width: 10em;
	max-width: 100%;
	height: auto;
	float: left;
	padding-right: 1em;
	margin-bottom: 3em;
}


ul#book-list > li {
	float: left;
	padding: 15px;
	width: 50%;
}

ul#book-list > li.first-book {
	width: 100%;
}

ul#book-list > li .book-long-description,
ul#book-list > li .learn-more-button,
ul#book-list > li .buy-button {
	display: none;
}

ul#book-list > li.first-book .book-short-description,
ul#book-list > li.first-book .learn-more-link {
	display: none;
}

ul#book-list > li.first-book .book-long-description {
	display: block;
}

ul#book-list > li.first-book .learn-more-button,
ul#book-list > li.first-book .buy-button {
	display: inline-block;
	margin-top: 0.5em;
	margin-bottom: 0;
}

ul#book-list .learn-more-button {
	margin-right: 0.5em;
}

ul#book-list a h3 {
	color: #554236;
}

@media (max-width: 1199px) {
	ul#book-list > li {
		width: 100%;
	}
}

#book-list h3 {
	margin-top: 5px;
}

/*MAILCHIMP SIGN UP FORM */

#mc_embed_signup {
	background: #F78D68;
	border: 1px solid #F1EFA5;
	border-radius: 25px;
	margin-bottom: 10px;
	padding: 15px;
}

#mc_embed_signup form {
	display:block;
	position:relative;
	text-align:left;
	padding:10px 0 10px 3
}

#mc_embed_signup h3 {
	font-weight:bold;
	padding:0;
	margin:10px 0;
}

#mc_embed_signup input {
	border:1px solid #999;
	-webkit-appearance:none;
}

#mc_embed_signup input[type=checkbox]{
	-webkit-appearance:checkbox;
}

#mc_embed_signup input[type=radio]{
	-webkit-appearance:radio;
}

#mc_embed_signup input:focus {
	border-color:#333;
}

#mc_embed_signup .button {
	clear:both;
	background-color: #F1EFA5;
	border: 0 none;
	border-radius: 10px;
	color: #554236;
	cursor: pointer;
	display: inline-block;
	font-size:16px;
	font-weight: bold;
	height: 40px;
	line-height: 32px;
	margin: 0 5px 10px 0;
	padding:0;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	width: auto;
	text-transform: uppercase;
}

#mc_embed_signup .button:hover {
	background-color:#554236;
	color: #F78D68;
}

#mc_embed_signup .small-meta {
	font-size: 11px;
}

#mc_embed_signup .nowrap {
	white-space:nowrap;
}

#mc_embed_signup .clear {
	clear:none;
	display:inline;
}

#mc_embed_signup label {
	display:block;
	font-size:16px;
	font-weight:bold;
	text-align: center;
}

#mc_embed_signup input.email {
	display:block;
	padding:8px 0;
	margin:10px auto;
	text-indent:5px;
	width:85%;
	min-width:130px;
}

#mc_embed_signup input.button {
	display:block;
	width:85%;
	margin:0 auto 10px;
	min-width:90px;
}

#mc_embed_signup div#mce-responses {
	float:left;
	top:-1.4em;
	padding:0em .5em 0em .5em;
	overflow:hidden;
	width:90%;
	margin: 0 5%;
	clear: both;
}

#mc_embed_signup div.response {
	margin:1em 0;
	padding:1em .5em .5em 0;
	font-weight:bold;
	float:left;
	top:-1.5em;
	z-index:1;
	width:80%;
}

#mc_embed_signup #mce-error-response {
	display:none;
}

#mc_embed_signup #mce-success-response {
	color:#529214;
	display:none;
}

#mc_embed_signup label.error {
	display:block;
	float:none;
	width:auto;
	margin-left:1.05em;
	text-align: center;
	padding:.5em 0;
}

#mc_embed_signup p {
	text-align: center;
	font-family: "Alegreya", Georgia, serif;
	font-size: 1.1em;
}

/*BOOTSTRAP OVERRIDES*/

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11 {
    float: left;
  }
  .col-lg-1 {
    width: 8.333333333333332%;
  }
  .col-lg-2 {
    width: 16.666666666666664%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-8 {
    width: 66.66666666666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
}

/*MEDIA QUERIES */

@media (max-width: 1199px) {

	.site-image {
	background: url('img/dragonfly-header.png') right;
	height: 89px;
	width: 448px;
	position: absolute;
	float: right;
	top: 26%;
	right: 0;
	}

}

@media (max-width: 991px) {

	.site-image {
	background: url('img/dragonfly-header.png') right;
	height: 89px;
	width: 440px;
	position: absolute;
	float: right;
	top: 40%;
	right: 0;
	}

	h1.site-title {
		font-size: 3em;
	}

	.time-travel {
		margin-left: 8.333333333333332%;
		width: 80%;
	}

	body.page-template-time-travel-php #mc_embed_signup {
	width: 75%;
	}

}

@media (max-width: 767px) {

	.site-image {
	display: none;
	}

	div.shawl-wrapper {
		display: none;
	}

	h1.site-title {
		font-size: 3em;
	}


	.holder .even-height {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.even-height.action-sidebar {
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius-bottomleft: 0;
		border-bottom-left-radius: 0;
	}


	.nav-ribbon:before, .nav-ribbon:after {
		display: none;
	}

	.nav-ribbon {
		border: none;
	}

	.navbar{
		margin-bottom: 0;
	}

	ul#main-menu:before, ul#main-menu:after {
		border-style: none;

	}
}

@media (max-width: 767px) {

	h1.site-title {
		font-size: 2.5em;
	}

	h4.site-description {
		font-size: 1.5em;
	}

}

@media (max-width: 630px) {

	h1.site-title {
		font-size: 2em;
	}

	h4.site-description {
		font-size: 1.5em;
	}

	.time-travel-opening {
		font-size: 2em;
	}

}

@media (max-width: 530px) {


	body.page-template-time-travel-php #mc_embed_signup {
		width: 90%;
	}
}

@media (max-width: 350px) {

	.site-title {
		clear: both;
		text-align: center;
	}
	.site-branding img {
		margin: 0 auto;
		float: none;
		display: block;
	}

	.site-description {
		text-align: center;
	}
}
